/* .dropdown-title {
  font-size: calc(50% + 0.5vw + 0.5vh);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
}

span.ant-select-selection-item{
  font-family: Arial, Helvetica, sans-serif;
} */

/* .button_fullscreen_trend {
  background-color: white;
  border: white;
  cursor: pointer;
  overflow: hidden;
  float: right;
} */
/* .fullscreen_css {
  background-color: white;
} */
 

/* .layout {
  width:  100%;
  margin: 0;
  display: flex;
  padding: 3px;
  overflow-x: hidden;
}
.layout_left {
  height: 100%;
  width: 50%;
  flex-direction: column;
  gap: 10px;
  display: flex;
  flex-flow: column nowrap;
  flex: 0 1 60%;
} 

.row {
  display: flex;
  width: 100%;
}

.column {
  display: flex;                           
  flex-basis: 100%;
  flex: 1;
  overflow: hidden;


}

.layout_right_map {
  width: 100%;
  height: 100%;
}

.layout_left_bar1 {
  min-height: 50%;
 width: 100%;
  height: 100%;
} */


.tg_button{
  height: 1.7rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  background-color: #AF5907 !important;
  border-color: #AF5907 !important;
}

.tg_button_light{
  font-size: 14px;

  background-color: #AF590780 !important;
  border-color: #AF590780 !important;
}
#msg{
  text-align: center;
  font-weight: bold;
  width: auto;
  height: auto;
  margin: 80px auto;
  padding: 10px;
  position: relative;

}
.ant-select:not(.ant-select-customize-input) .ant-select-selector { 
  border: 1px solid #D66D07;
  background-color: #EFC69B;
	border-radius: 5px;
	font-size: 14px;
	color: black;
	height: 1.4rem;
	display: flex;
	align-items: center;
}

/* .ant-select-selection-search-input input{
  position: absolute;
  padding-top: 0px;
  padding-left: 0px;
  margin-top: 0px;
  height: 1.4rem;
  line-height: 1em;
} */

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
  height: 1.4rem !important;
}

/* 
{
  padding: 15px;
  border-radius: 3px !important;
  height: 50px !important;
  color: #ffffff !important;
  padding-right: 30px !important;
  font-size: 14px !important;
  border-color: blue !important;
  position: relative;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: black url("data:image/svg+xml;utf8,<svg height='24' viewBox='0 0 24 24' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='#FFFFFF'/></g></svg>") no-repeat !important;
  background-position-x: 100%;
  background-position-y: 5px;
} */
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  width: 100%;
  /* height: 32px; */
  padding: 0 10px;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector:hover {
  border: 1px solid #D66D07;
  /* color: inherit !important; */
}
.ant-select-focused{
  /* outline: none !important; */
    /* border:1px solid red; */
    /* box-shadow: 0 0 10px #D66D07; */

}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  border-color: #D66D07 !important;
  box-shadow: none !important;
  
}
/* .ant-select-open.ant-select-show-search{
  padding-top: -10px;
  padding-left: 0px;
} */

.ant-select-arrow{
  color: black;
  right: 2px !important;
}


/* .layout_left_trend {
  width: 100%;
  height: 100%;
}

.layout_right_bar2 {
   min-height: 500px;
  width: 100%;
  height: 100%;
}
.toggle_button{
  padding: 10px 20px;
  font-size: 15px;
  background-color: #AF5907;
  border-color:#AF5907 ;
} */


/* @media (max-width: 790px) {
  .layout {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow-x: auto;
  }
 .row{
   display: flex;
   flex-direction: column;
 }
 .column{
   height: 100%;
 }

  .buttonmapcss {
    background-color: green;
  }
}*/
@media (min-width: 750px) and (max-width: 990px){
  #main_dashboard_container {
    display: flex;
    flex-direction: column;
  }

    
} 

select.paddingOffset
{
	padding-left: 10px;
} 

a { color: black; } 

