/* .sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
	background-color: white;
} */

.sticky + .content {
  	padding-top: 102px;
}
.main-head {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	height: 80px;
}
.p-4{
	padding: 0.25rem 1rem 0.25rem 1rem !important;
}
.for-mobile {
    padding-top: 1rem!important;
}

.health-ministry {
	height: auto;
	width: auto;
}

.poshan-abhiyan {
	height: auto;
	width:25%;
	float: right;
}

.nutrition-india {
	height: 100%;
	width: 80%;
}

.lifecycle-img {
	border: 0.3rem solid #F2A559;
	border-radius: 4rem;
    height: auto;
    width: 11%;
    z-index: 99999999;
}

/* .select-lifecycle {
	border: 1px solid #D66D07;
	background: #D66D07;
	padding: 0 20px;
	position: relative;
	
} */
select{
	font-size: 14px;
}
/* .select-category {
	border: 1px solid transparent;
    background: rgba(214, 109, 7, 0.4);
    padding-left: 20px;
    border-right: none;

} */

/* .select-border {
	border: 1px solid #D66D07;
	background-color: #DDDD;
	border-radius: 5px;
	font-size: 14px;
	width: 11rem;
	height: 1.5rem;
	display: flex;
	align-items: center;
} */
.i-icon {
	width: 1.7rem;
	height: 1.7rem;
	float: right;
}

.w-40 {
	width:40%;
}

.prevalence-button {
	background: #AF5906;
}
.burden-button {
	background: rgba(175, 89, 6, 0.3)!important;
}

.footer {
	height: 4rem;
	width:auto;
	background-color: black;
	text-align: center;
	margin-top: 1rem;
}


.nutrition-image {
	height: auto;
	width:40%;
	/*padding-top: 1rem;*/
}

.iitb-image {
	height: auto;
	width: 25%;
	margin: auto;
}

.proditech-image {
	height: auto;
	width:30%;
	margin:auto;
}

.unichef-image {
	height: auto;
	width:25%;
	/*padding-top: 1rem;*/
	float: right;
}
.img-map {
    width: 100%;
    height: auto;
}
.select-lifecycle-parent {
    display: flex;
    margin-top: 29px;
    margin-left: -17px;
}
.nav-tabs {
    border-bottom: none;
	height: 1.7rem;
}
.nav-tabs .nav-item {
	font-size: 14px;
    margin-bottom: 0px;
    width: 60%;
	
}
.nav-tabs .nav-item-right {
	width:40%;
}
/* .radius2{
	width: 60%;
}
.radius{
	width: 40%;
} */
.radius1{
	width: 50%;
}
.radius3{
	width: 50%;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	/* color: #fff; */
	background-color: transparent;
	border-color: transparent;
	display: inline-block;
	/* border-top-left-radius: 5px; */
	/* border-bottom-left-radius: 5px; */
	background: #EFC69B;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.nav-link {
    padding: 0px 19px 0px 19px;
}
.nav-tabs .nav-link {
    border: 1px solid #af5906;
    background: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    text-align: center;
    padding: 7px 0px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	
}
.nav-tabs .nav-link.radius{
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-tabs .nav-link.radius1{
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-tabs .nav-link.radius3{
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.nav-tabs .nav-link.radius2{
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
/* .nav-item a {
    color: #fff;
} */
.select-lifecycle-child:after {
	content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 13px solid transparent;
    /* vertical-align: middle; */
    position: absolute;
}
.select-lifecycle-child:after {
	border-left-color: #d66d07;
}
.select-lifecycle-cat-child:after {
	content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 13px solid transparent;
    vertical-align: middle;
    position: absolute;
}
.select-lifecycle-cat-child:after {
	border-left-color: #efc59c;
}
.top-15{
	top: -15%;
}
.i-class{
	text-align: center;
	margin-top: 6%;
}

/* new changes */

.lifecycle-img {
	background: #fff;
}
.select-border {
    height: 1.7rem;
}
.nav-tabs .nav-link {
    padding: 0px 0px;
}
.for-mobile-3 {
    margin-top: 8px;
}

/* .select-lifecycle {
	width: auto;
}
.select-category {
    width: auto;
} */

.select-lifecycle {
    border: 1px solid RGB(214, 109, 7);
    background: RGB(214, 109, 7);
    }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: 1px solid RGB(175, 89, 6);
}
/* .select-category {
    background: RGB(239, 197, 156);
} */

.nav-tabs .nav-link {
    border: 1px solid RGB(175, 89, 6);
    background: white;
}
.select-border {
	border: 1px solid #D66D07;
	padding: 0px;
	background-color: #EFC69B;
	border-radius: 5px;
	font-size: 14px;
	/* width: 11rem; */
	height: 1.4rem;
	display: flex;
	align-items: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image:url("data:image/svg+xml,<svg width='12' padding='11px' height='12' viewBox='64 64 896 896' focusable='false' xmlns='http://www.w3.org/2000/svg'><path d='M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z' /></svg>");
	margin-right: 11px;
	background-repeat: no-repeat;
	background-position: right 2px top 53%;
	padding-right: 15px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	/* border: 1px solid #dfdfdf; */
}


.select-category {
	border: 1px solid transparent;
    background: rgba(214, 109, 7, 0.4);
	padding-left: 20px;
    border-right: none;
	width: 8rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image:url("data:image/svg+xml,<svg width='12' padding='11px' height='12' viewBox='64 64 896 896' focusable='false' xmlns='http://www.w3.org/2000/svg'><path d='M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z' /></svg>");
	background-repeat: no-repeat;
	background-position: right 2px top 53%;
	height: 1.35rem;
	padding-right: 15px;

	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.select-lifecycle {
	border: 1px solid #D66D07;
	background: #D66D07;
	padding: 0 20px;
	position: relative;
	height: 1.35rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image:url("data:image/svg+xml,<svg width='12' padding='11px' height='12' viewBox='64 64 896 896' focusable='false' xmlns='http://www.w3.org/2000/svg'><path d='M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z' /></svg>");
	background-repeat: no-repeat;
	background-position: right 2px top 53%;
	padding-right: 15px !important;
	/* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
	
}
select:focus{
	outline: none !important;
}
svg{
	margin-right: 11px;
}


/* added from change .txt */

/* .nav-tabs .nav-link {
    padding: 2px 0px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: 1.7rem;
    } */
