.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
	background-color: white;
}

.sticky + .content {
  	padding-top: 102px;
}
.main-head {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.p-4{
	padding: 0.25rem 1rem 0.25rem 1rem !important;
}
.for-mobile {
    padding-top: 1rem!important;
}

.health-ministry {
	height: auto;
	width: 30%;
}

.poshan-abhiyan {
	height: auto;
	width: 15%;
	float: right;
}

.nutrition-india {
	height: auto;
	width: 60%;
}

.lifecycle-img {
	border: 0.3rem solid #F2A559;
	border-radius: 4rem;
    height: auto;
    width: 11%;
    z-index: 99999999;
}

.select-lifecycle {
	border: 1px solid #D66D07;
	background: #D66D07;
	padding: 0 20px;
	position: relative;
	font-weight: 500;
}
.select-category {
	border: 1px solid transparent;
    background: rgba(214, 109, 7, 0.4);
    padding-left: 20px;
    border-right: none;
}

.select-border {
	border: 1px solid #D66D07;
	background-color: #DDDD;
	border-radius: 5px;
	font-size: 14px;
	width: 11rem;
	height: 1.7rem;
	display: flex;
	align-items: center;
}

.i-icon {
	width: 1.7rem;
	height: 1.7rem;
	float: right;
}

.w-40 {
	width:40%;
}

.prevalence-button {
	background: #AF5906;
}
.burden-button {
	background: rgba(175, 89, 6, 0.3)!important;
}

.footer {
	height: 4rem;
	width:auto;
	background-color: black;
	text-align: center;
	margin-top: 1rem;
}


.nutrition-image {
	height: auto;
	width:50%;
	/*padding-top: 1rem;*/
}

.iitb-image {
	height: auto;
	width: 25%;
	margin: auto;
}

.proditech-image {
	height: auto;
	width:30%;
	margin:auto;
}

.unichef-image {
	height: auto;
	width:30%;
	/*padding-top: 1rem;*/
	float: right;
}
.img-map {
    width: 100%;
    height: auto;
}
.select-lifecycle-parent {
    display: flex;
    margin-top: 29px;
    margin-left: -17px;
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs .nav-item {
    margin-bottom: 0px;
    width: 50%;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #fff;
	background-color: transparent;
	border-color: transparent;
	display: inline-block;
	/* border-top-left-radius: 5px; */
	/* border-bottom-left-radius: 5px; */
	background: #AF5906;
}
.nav-link {
    padding: 0px 19px 0px 19px;
}
.nav-tabs .nav-link {
    border: 1px solid #af5906;
    background: #efc59c;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    text-align: center;
    padding: 7px 0px;
}
.nav-tabs .nav-link.radius{
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-tabs .nav-link.radius2{
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.nav-item a {
    color: #fff;
}
.select-lifecycle-child:after {
	content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 13px solid transparent;
    vertical-align: middle;
    position: absolute;
}
.select-lifecycle-child:after {
	border-left-color: #d66d07;
}
.select-lifecycle-cat-child:after {
	content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 13px solid transparent;
    vertical-align: middle;
    position: absolute;
}
.select-lifecycle-cat-child:after {
	border-left-color: #efc59c;
}
.top-15{
	top: -15%;
}
.i-class{
	text-align: center;
	margin-top: 6%;
}

/* new changes */

.lifecycle-img {
	background: #fff;
}
.select-border {
    height: 1.7rem;
}
.nav-tabs .nav-link {
    padding: 0px 0px;
}
.for-mobile-3 {
    margin-top: 8px;
}

.select-lifecycle {
	width: 100%;
}
.select-category {
    width: 100%;
}

.select-lifecycle {
    border: 1px solid RGB(214, 109, 7);
    background: RGB(214, 109, 7);
    }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: RGB(175, 89, 6);
}
.select-category {
    background: RGB(239, 197, 156);
}

.nav-tabs .nav-link {
    border: 1px solid RGB(175, 89, 6);
    background: RGB(239, 197, 156);
}