.dropdown-title {
  font-size: calc(50% + 0.5vw + 0.5vh);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
}

span.ant-select-selection-item{
  font-family: Arial, Helvetica, sans-serif;
}

.button_fullscreen_trend {
  background-color: white;
  border: white;
  cursor: pointer;
  overflow: hidden;
  float: right;
}
.fullscreen_css {
  background-color: white;
}
 

.layout {
  width:  100%;
  margin: 0;
  display: flex;

  padding: 0;
  overflow-x: hidden;
}
.layout_left {
  height: 100%;
  width: 50%;
  flex-direction: column;
  gap: 10px;
  display: flex;
  flex-flow: column nowrap;
  flex: 0 1 60%;
} 

.row {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  width: 100%;
}

.column {
  /* height: 50%;  / */
  display: flex;                           
  /* flex-direction: column; */
  flex-basis: 100%;
  flex: 1;
  overflow: hidden;
  height: 60vh;

}

.layout_right_map {
   /* background-color:yellow;  */
  width: 100%;
  height: 100%;
}

.layout_left_bar1 {
   /* background-color:red;  */
  min-height: 50%;
 width: 100%;
  height: 100%;
}

#msg{
  text-align: center;
  font-weight: bold;
  width: auto;
  height: auto;
  margin: 80px auto;
  padding: 10px;
  position: relative;

}

.layout_left_trend {
   /* background-color:blue;  */
  width: 100%;
  height: 100%;
}

.layout_right_bar2 {
   /* background-color:rgb(155, 155, 155);  */
width: 100%;
  height: 100%;
}



@media (max-width: 790px) {
  .layout {
    /* height: 100vh; */
    display: flex;
  /* align-content: center; */
  justify-content: flex-start;
  /* flex-wrap: wrap; */
  flex-direction: column;
overflow-x: auto;

    /* display: flex; */
  }
 .row{
   display: flex;
   flex-direction: column;
 }
 .column{
   height: 100%;
 }
  /* .layout_left_bar1 {
    width: 600px;
    height: 500px;
  }
  .layout_left_trend {
    width: 600px;
    height: 500px;
    margin-top: -200px;
  }
  .layout_right_bar2 {
    width: 600px;
    height: 500px;
    margin-top: -150px;
  } */
  .buttonmapcss {
    background-color: green;
  }
}
@media (max-width: 480px) {
  .layout {
    display: flex;
    /* align-content: center; */
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    flex-direction: column;
    overflow-x: auto;


  }
.row{
   display: flex;
   flex-direction: column;
 }
  /* .layout_left_trend {
    margin-top: 100px;
  }

  .layout_left_bar1 {
   margin-top: -100px;
  }
  

  .layout_right_map{
     margin: 100px; 
    height: 700px;
    width: 600px;
    margin-top: 200px;
    margin-bottom: 200px;

  } */
    
}
