.dropdown-title {
  font-size: calc(50% + 0.5vw + 0.5vh);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
}

span.ant-select-selection-item{
  font-family: Arial, Helvetica, sans-serif;
}

.button_fullscreen_trend {
  background-color: white;
  border: white;
  cursor: pointer;
  overflow: hidden;
  float: right;
}
.fullscreen_css {
  background-color: white;
}
 

.layout {
  width:  100%;
  margin: 0;
  display: flex;
  padding: 3px;
  overflow-x: hidden;
}
.layout_left {
  height: 100%;
  width: 50%;
  flex-direction: column;
  gap: 10px;
  display: flex;
  flex-flow: column nowrap;
  flex: 0 1 60%;
} 

.row {
  display: flex;
  width: 100%;
}

.column {
  display: flex;                           
  flex-basis: 100%;
  flex: 1;
  overflow: hidden;


}

.layout_right_map {
  width: 100%;
  height: 100%;
}

.layout_left_bar1 {
  min-height: 50%;
 width: 100%;
  height: 100%;
}


.tg_button{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  background-color: #AF5907 !important;
  border-color: #AF5907 !important;
}

.tg_button_light{
  background-color: #AF590780 !important;
  border-color: #AF590780 !important;
}
#msg{
  text-align: center;
  font-weight: bold;
  width: auto;
  height: auto;
  margin: 80px auto;
  padding: 10px;
  position: relative;

}

.layout_left_trend {
  width: 100%;
  height: 100%;
}

.layout_right_bar2 {
   min-height: 500px;
  width: 100%;
  height: 100%;
}
.toggle_button{
  padding: 10px 20px;
  font-size: 15px;
  background-color: #AF5907;
  border-color:#AF5907 ;
}


/* @media (max-width: 790px) {
  .layout {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow-x: auto;
  }
 .row{
   display: flex;
   flex-direction: column;
 }
 .column{
   height: 100%;
 }

  .buttonmapcss {
    background-color: green;
  }
}
@media (max-width: 480px) {
  .layout {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }
  .layout_left_trend {
    width: 100%;
   height: 50%;
 }
#row1{
   display: flex;
   flex-direction: column-reverse;
 }
 #row2{
  display: flex;
  flex-direction: column;
}

    
} */
