.dropdown-title {
  font-size: calc(50% + 0.5vw + 0.5vh);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
}

span.ant-select-selection-item{
  font-family: Arial, Helvetica, sans-serif;
}

.button_fullscreen_trend {
  background-color: white;
  border: white;
  cursor: pointer;
  overflow: hidden;
  float: right;
}
.fullscreen_css {
  background-color: white;
}

.layout {
  height: 100vh;
  display: flex;
}
.layout_left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.layout_right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.layout_right_map {
  /* background-color:yellow; */
  width: 100%;
  height: 50%;
}

.layout_left_bar1 {
  /* background-color:red; */
  width: 100%;
  min-height: 50%;
  height: 100%;

  text-align: center;
  
}

#msg{
  text-align: center;
  font-weight: bold;
  width: auto;
  height: auto;
  margin: 80px auto;
  padding: 10px;
  position: relative;

}

.layout_left_trend {
  /* background-color:blue; */
  width: 100%;
  height: 50%;
}

.layout_right_bar2 {
  /* background-color:green; */
  margin-top: 100px;
  width: 100%;
  height: 50%;
}
.toggle_button{
  padding: 10px 20px;
  font-size: 15px;
  background-color: #AF5907;
  border-color:#AF5907 ;
}

@media (max-width: 790px) {
  .layout {
    height: 100vh;
    display: block;
  }
  .layout_left_bar1 {
    width: 600px;
    height: 500px;
  }
  .layout_left_trend {
    width: 600px;
    height: 500px;
    margin-top: -200px;
  }
  .layout_right_bar2 {
    width: 600px;
    height: 500px;
    margin-top: -150px;
  }
  .buttonmapcss {
    background-color: green;
  }
}
@media (max-width: 480px) {
  .layout {
    float: left;
  }
 
  .layout_left_trend {
    margin-top: 100px;
  }

  .layout_left_bar1 {
   margin-top: -100px;
  }
  

  .layout_right_map{
    /* margin: 100px; */
    height: 700px;
    width: 600px;
    margin-top: 200px;
    margin-bottom: 200px;

  }
    
}
