@media (min-width: 992px) {

}
@media (min-width: 1024px) and (max-width: 1100px) {
	.footer {
    	height: 3rem;
    }
}
@media (min-width: 1200px) and (max-width: 1600px) {

}
@media (min-width: 1200px) and (max-width: 1320px) {
	.lifecycle-img {
    	width: 17%;
    }
    .i-class {
	    margin-top: 12%;
	}
	.i-icon {
    	/* width: 40%; */
		width: 1.7rem;
	}
}
@media (min-width: 1320px) and (max-width: 1600px) {
	.lifecycle-img {
    	width: 13%;
    }
	
    .i-class {
    	margin-top: 10%;
    }
    .i-icon {
    	width: 1.7rem;
    }
}
@media (min-width: 1600px) and (max-width: 2560px) {
	.footer {
    	height: 5rem;
    }
	.poshan-abhiyan {
    	width: 15%;
	}
	
    .i-icon {
    	width: 1.7rem;
    }
}
@media (max-width: 1199px) {

}
@media (min-width: 992px) and (max-width: 1199px) {
	.lifecycle-img {
    	width: 20%;
    }
    .select-lifecycle-parent {
    	margin-left: -22px;
		width: 70%;
	}
	.select-lifecycle {
    	padding: 0 0px 0px 20px;
	}
	.select-category {
    	padding-left: 10px;
    }
    .p-4 {
    	padding: 1rem!important;
	}
    .i-class {
    	/*margin-top: 23%;*/
    	margin-top: 13%;
	}
	.i-icon {
    	/*width: 60%;*/
    	/* width: 40%; */
		width: 1.7rem;
	}
	/*for ipad pro*/
	.select-lifecycle {
	    font-size: 12px;
	}
	.select-category {
    	font-size: 12px;
	}
	.select-lifecycle-child:after {
	    border: 10px solid transparent;
	    top: 32px;
	    border-left-color: #d66d07;
	}
	.select-lifecycle-cat-child:after {
	    border: 10px solid transparent;
	    top: 32px;
	    border-left-color: #efc59c;
	}
}
/*(min-width: 992px) and (max-width: 1199px)*/

@media (max-width: 991px) {
	.p-4 {
    	padding: 0.5rem!important;
	}
	.health-ministry {
	    width: 80%;
	}
	.nutrition-india {
	    width: auto;
	    height: 12px;
	}
	.poshan-abhiyan {
    	width: 40%;
	}
	.lifecycle-img {
	    width: 27%;
	}
	.select-category {
    	padding-left: 12px;
    	font-size: 12px;
	}
	.select-lifecycle-parent {
	    margin-top: 20px;
	}
	.footer {
    	height: 2rem;
    }
    .nutrition-image {
    	width: 100%;
	}
	.iitb-image {
    	width: 50%;
	}
	.proditech-image {
    	width: 100%;
	}
	.unichef-image {
    	width: 80%;
	}
	.i-icon {
	    /* width: 80%; */
	    width: 1.7rem;
	    height: auto;
	}
	.for-mobile{
		display: flex;
		flex-direction: column;
	}
	.for-mobile-1{
		padding: 0px !important;
		flex: 1;
		order: 1;
	}
	.for-mobile-2{
		flex: 1;
		order: 2;
	}
	.for-mobile-3{
		flex: 1;
		order: 3;
		padding: 0px 4% 0px 4% !important;
	}
	.i-for-mobile-div1{
		position: relative;
	}
	.i-for-mobile-div3{
		position: absolute;
		right: 0%;
		top: 3px;
	}
	.select-lifecycle {
	    padding-right: 0;
	}
	.i-class{
		text-align: right;
		margin-top: 0%;
	}
	.select-lifecycle {
	    font-size: 12px;
	}
	.select-lifecycle-child:after {
	    border: 10px solid transparent;
	    top: 23px;
	    border-left-color: #d66d07;
	}
	.select-lifecycle-cat-child:after {
	    border: 10px solid transparent;
	    top: 23px;
	    border-left-color: #efc59c;
	}
	.select-border {
    	height: 1.4rem;
	}
	.nav-tabs .nav-link {
	    padding: 2px 0px;
	}
	.p-2 {
	    padding: .15rem!important;
	}
} 
/*(max-width: 991px)*/

@media (min-width: 993px) {
	.p-3 {
    	padding: 0.25rem!important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.health-ministry {
		height:auto;
	    width: 60%;
	}
	.nutrition-india {
	    width: auto;
	    height: 25px;
	}
	.poshan-abhiyan {
    	width: 30%;
	}
	.lifecycle-img {
    	width: 14%;
    }
	.footer {
	    height: 3rem;
	}
	.i-for-mobile-div3 {
	    top: 3%;
	}
	.i-icon {
	    /* width: 30%; */
		width: 1.7rem;
	}
	.select-lifecycle-child:after {
	    border: 10px solid transparent;
	    top: 49%;
	    border-left-color: #d66d07;
	}
	.select-lifecycle-cat-child:after {
	    border: 10px solid transparent;
	    top: 49%;
	    border-left-color: #efc59c;
	}
	.for-mobile-1 {
	    padding: 1% 3% 1% 2% !important;
	}
	.nutrition-image {
	    width: 70%;
	}
	.iitb-image {
	    width: 40%;
	}
	.proditech-image {
	    width: 60%;
	}
	.unichef-image {
	    width: 50%;
	}
}
/*(min-width: 768px) and (max-width: 991px)*/

@media (max-width: 767px) {

}
/*(max-width: 767px)*/

@media (min-width: 576px) and (max-width: 767px) {

}
/*(min-width: 576px) and (max-width: 767px)*/

@media (max-width: 575px) {

}
/*(max-width: 575px)*/

@media (max-width: 650px) {

}
@media (max-width: 400px) {

}
@media (max-width: 380px) {

}

@media (min-width: 1200px) and (max-width: 1600px) {
	.select-lifecycle-parent {
	    width: 80%;
	}
}



/* added from change.txt */

@media (max-width: 600px) {
	.tooltipX{
		/* visibility: hidden; */
		opacity: 0;
	}
  }