.ant-switch-checked {
  background-color: #181d18;
}

/* .con{
  margin-top: 20px;
}
*/
.col {
  font-size: 12px;
  color: dimgrey;
}

.dropdown-title {
  font-size: calc(50% + 0.5vw + 0.5vh);
  font-weight: bold;
  color: black;
}

.row {
  margin-left: 10px;
}

.arrow {
  /* border: solid black; */
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.containerf {
  background-color: red;
  width: 100%;
  margin: 0 auto;
}

.layout {
  height: 85vh; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:10px
}

.layout__header {
  flex: 0.1;
  /* background-color:blue; */
}
.layout__body{
  flex: .9;
  display: flex;
}

.layout__body__left {
  flex: 0.4;
  display: flex;
  gap:50px;
  flex-direction: column;
}
.layout__body__left__cards {
  width:100%;
  overflow-y: scroll;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}

.layout__body__right {
  display: flex;
  flex: 0.6;
  display: flex;
  gap:90px;
  flex-direction: column;

}

.layout__body__right__bar{
  width: 70%;
  margin: auto;

}

.layout__body__left__trend{
margin-top: 70px;
margin-left: 10px;
}

.chart-container-bar {
  width: 55%;
  height: 300px;
  margin: 10px;
}
.chart-container-line {
  width: 60%;
  height: 300px;
  margin-top: 10px;
  padding-top: 30px;
}
