.trend-line{
    fill:none;
    stroke:#757564;
    stroke-width:2;
}

    
div.tooltip2 {
  padding: 10px;
  position: absolute;
  display: inline-block;
  text-align: center;
  background-color: rgba(0,0,0,.9);
  border-radius: 10px;
  pointer-events: none;
  color: white;
  font-size: 11px;
  /* float:left; */
}

.trend{
  height:750px;
  display:flex;
  /* width: 100%; */
}

#svgTrend{
  font-family: Arial, Helvetica, sans-serif;
}

.fullscreen_css {
  background-color: white;
}
