.trend-line{
    fill:none;
    stroke:#8ED11A;
    stroke-width:2;
}

    
div.tooltip2 {
  padding: 10px;
  position: absolute;
  display: inline-block;
  text-align: center;
  background-color: rgba(0,0,0,.9);
  border-radius: 10px;
  pointer-events: none;
  color: white;
  font-size: 11px;
  /* float:left; */
}

.fullscreen_css {
  background-color: white;
}
