.trend-line{
    fill:none;
    stroke:#757564;
    stroke-width:2;
}

    
div.tooltipX{
  padding: 10px;
  position: absolute;
  text-align: center;
  background-color: rgba(0,0,0,.9);
  border-radius: 10px;
  pointer-events: none;
  color: white;
  z-index: 10;
}

.trend{
  /* height:750px; */
  display:flex;
  /* width: 100%; */
}
.fullscreen_enabled{
  height: 2500px !important;
  position: absolute;
}
.trend_svg {
  /* background-color:grey; */
  margin: 0;
  width: 100%;
  height: 50%;
  padding: 0;
}
#svgTrend{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.fullscreen_css {
  background-color: white;
}