.ant-switch-checked {
  background-color: #181d18;
}

/* .con{
  margin-top: 20px;
}
*/
.col {
  font-size: 12px;
  color: dimgrey;
}

.dropdown-title {
  font-size: calc(50% + 0.5vw + 0.5vh);
}
.left-card {
  margin-bottom: 40px;
  margin-right: -5px;
  margin-left: -7px;
  margin-top: 20px;
}
.right-card {
  margin-bottom: 40px;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: 20px;
}
.pink-card {
  background-color: #c74b08;
}
.green-card {
  background-color: #295c40;
}
.row {
  margin-left: 10px;
}

.arrow {
  /* border: solid black; */
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.containerf {
  background-color: red;
  width: 100%;
  margin: 0 auto;

  /* Small Devices, Tablets */
  /* @media only screen and (max-width: 768px) {
    width: 75%;
    background-color: green;
  } */
  /* Medium Devices, Desktops */
  /* @media only screen and (min-width: 800px) {
    width: 50%;
    background-color: pink;
  } */
}
table,
tr,
th,
td {
  border: none;
  border-top: 2px solid white;
}
