.ant-switch-checked {
  background-color: #181d18;
}

/* .con{
  margin-top: 20px;
}
*/
.col {
  font-size: 12px;
  color: dimgrey;
}

.dropdown-title {
  font-size: calc(50% + 0.5vw + 0.5vh);
}

.cardslider__cards {
  width: 70%;
  height: 70%;
  padding-left: 2em;
}
