.card {
    margin-bottom: -35px;
    margin-right: -5px;
    margin-left: -7px;
    margin-top: 20px;
    width: 50%;
  }
  .pink-card {
    background-color: #c74b08;
    height: 100%;

  }
  .green-card {
    background-color: #295c40;
    height: 100%;

  }