
.svg-map {
    display: block;
    width: 100%;
    height:75vh;
  }
  

  svg .polygon {
    stroke: black;
    stroke-width: 1px;
    cursor: pointer;
  }

  div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 100px;          
    height: 50px;          
    padding: 2px;       
    font: 15px sans-serif;  
    font-weight: bold;    
    background: #fff; 
    border: 0px;
    border-radius: 10px;
    pointer-events: none;     
  }

  
  