
.svg-map {
    display: block;
    width: 100%;
    height:75vh;
  }
  

  svg .polygon {
    stroke: black;
    stroke-width: 1px;
    cursor: pointer;
  }

  /* svg .polygon:hover{
    stroke: black;
    stroke-width: 2px;
  } */


  div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 150px;          
    height: 50px;          
    padding: 2px;       
    font: 15px sans-serif;  
    font-weight: bold;    
    background: rgb(255, 255, 255); 
    border-bottom-style: solid;
    border-width: 5px;
    border-left-style: solid;
    border-color: rgb(185, 212, 185);
    border-radius: 10px;
    pointer-events: none;     
  }

  button.ant-switch{
    background: rgb(194, 243, 190);
    height: 40px;
    padding: 10px 20px 10px 25px !important;
    /* border-radius: 30%; */
  }

  .ant-switch-checked {
    background-color:  rgb(194, 243, 190) !important;
}

.ant-switch-handle::before{
  height: 40px !important;
  width: 40px !important;
  margin: 0%;
  border-radius:50% !important;
  box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.ant-switch-inner {
  display: block;
  margin: 0 7px 0 25px;
  color: rgb(150, 139, 139) !important;
  font-size: 1.5rem !important;

  color: rgb(73, 73, 73) !important;
  -webkit-transition: margin 0.2s;
  transition: margin 0.2s;
}

  
  