.svg-map {
  display: block;
  width: 100%;
  height: 75vh;
}

svg .polygon {
  stroke: black;
  stroke-width: 1px;
  cursor: pointer;
}

svg .geoCentroid {
  stroke: black;
  stroke-width: 1px;
  cursor: pointer;
}

/* svg .polygon:hover{
  stroke: black;
  stroke-width: 2px;
} */

div.tooltip {
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 150px;
  height: 70px;
  background-color: white;
  border-radius: 10px;
  pointer-events: none;
  border-bottom: solid;
  border-left: solid;
}

button.ant-switch {
  background: rgb(194, 243, 190);
  height: 30px;
  padding: 5px 20px 10px 25px !important;
  /* border-radius: 30%; */
}

.ant-switch-checked {
  background-color: rgb(145, 184, 241) !important;
}

.ant-switch-handle::before {
  height: 30px !important;
  width: 30px !important;
  /* margin: 0%; */
  border-radius: 50% !important;
  /* box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2); */
  /* -webkit-transition: all 0.2s ease-in-out; */
  /* transition: all 0.2s ease-in-out; */
}

.ant-switch-inner {
  /* display: block; */
  /* margin: 0 7px 0 25px; */
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
  /* font-size: 1.5rem !important; */

  /* color: rgb(73, 73, 73) !important; */
  /* -webkit-transition: margin 0.2s; */
  /* transition: margin 0.2s; */
}

.legendTitle {
  font-weight: bold;
}
.blink_me {
  animation: blinker 1s linear 4;
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  color: red;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.map {
  /* background-color: red; */
  width: 100%;
  display: flex;

  /* flex-direction: column; */
}

.map__svg {
  z-index: 1;

  /* background-color: darkgray; */
}
.map__requirements {
  /* background-color: darkorchid; */
  display: flex;
  flex-direction: column;
}

.map__requirements_switch {
}
.map__requirements_legend {
}
