.svg-map {
  display: block;
  width: 100%;
  height: 100vh;
}

svg .polygon {
  stroke: black;
  stroke-width: .3px;
  cursor: pointer;
}

svg .geoCentroid {
  stroke: black;
  stroke-width: 1px;
  cursor: pointer;
}

/* svg .polygon:hover{
  stroke: black;
  stroke-width: 2px;
} */

div.tooltip {
  padding: 10px;
  position: absolute;
  display: inline-block;
  text-align: center;
  background-color: rgba(0,0,0,.9);
  border-radius: 10px;
  pointer-events: none;
  color: white;
  font-size: 11px;
}

button.ant-switch {
  background: rgb(194, 243, 190);
  height: 30px;
  padding: 5px 20px 10px 25px !important;
  /* border-radius: 30%; */
}

.ant-switch-checked {
  background-color: rgb(145, 184, 241) !important;
}

.ant-switch-handle::before {
  height: 30px !important;
  width: 30px !important;
  /* margin: 0%; */
  border-radius: 50% !important;
  /* box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2); */
  /* -webkit-transition: all 0.2s ease-in-out; */
  /* transition: all 0.2s ease-in-out; */
}

.ant-switch-inner {
  /* display: block; */
  /* margin: 0 7px 0 25px; */
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
  /* font-size: 1.5rem !important; */

  /* color: rgb(73, 73, 73) !important; */
  /* -webkit-transition: margin 0.2s; */
  /* transition: margin 0.2s; */
}

.legendTitle {
  font-weight: bold;
}
.blink_me {
  animation: blinker 1s linear 4;
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  color: red;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.map {
  /* background-color:red; */
  height: 750px;
  width: 100%;
  display: flex;
}

.map_area {
  /* background-color:green; */
  width: 100%;
  /* justify-content:center; */
  /*   display:flex; */
  /*   flex-direction:row; */
}
.map_title {
  /* background-color:coral; */
  width: 60%;
  height: 10%;
  display: flex;
  justify-content: center;
  font-weight: 100;
  margin: 0px 200px;
  margin-top: 20px;
}

.map_svg {
  /* background-color:grey; */
  margin: 0;
  width: 100%;
  height: 80%;
  padding: 0;
}
/* .map_svg{
  background-color:green;
  width:70%;
  justify-content:center;
} */
.map_req {
  /* background-color:yellow; */
  height: 100%;
  width: 0px;
  margin: 10px;
}
.map_req_button {
  /* background-color:blue; */
  margin: 20px;
  margin-top: 30px;
  margin-left: -180px;
  height: 50px;
  width: 250px;
}

.map_req_text {
  margin: 20px;
  margin-top: 30px;
  margin-left: -150px;
  height: 50px;
  width: 150px;
  font-size: 10px;
  font-weight:bold;
}

.req_button{
  margin: 5px;
  background-color: #AF5907 !important;
  border-color: #AF5907 !important;
}
.map_req_legend {
  /* background-color:red; */
  height: 40%;
  width: 100%;
}
.map_req_text {
  /* background-color:coral; */
  height: 20%;
}
@media (max-width: 790px) {
  .map_req_toggle {
    /* background-color:blue; */
    height: 20%;
    width: 100%;
    margin-left: 5px;
    margin-bottom: -60px;
  }
  .map_req {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    justify-content: flex-end;
    margin-left: 30px;
    margin-top: 50px;
  }
  .map_req_text {
    /* background-color:coral; */
    height: 20px;
  }
  .map_title {
    width: 380px;
    height: 10%;
    font-weight: 100;
    margin-left: 5px;
  }
  button.ant-switch {
    background: rgb(194, 243, 190);
    height: 30px;
    width: 150px;
    padding: 5px 20px 10px 25px !important;
    /* border-radius: 30%; */
  }
  .map {
    /* background-color:red; */
    margin-left: 20px;
    display: flex;
  }
  .map_area {
    width: 450px;
  }
}
@media (max-width: 480px) {
  .map_area {
    width: 200px;
    height: 400px;
  }
  .map_req_button {
    /* background-color:blue; */
    /* display: flex; */
    margin: 20px;
    margin-left: -180px;
    height: 700px;
    width: 250px;
  }
  

  .map_req_text {
    /* background-color:blue; */
    /* display: flex; */
    margin: 20px;
    margin-left: -180px;
    margin-top: -20px;
    height: 12500px;
    width: 250px;
  }

  .req_button{
    margin: 5px;
    background-color: #AF5907 !important;
    border-color: #AF5907 !important;
  }
  
  .map_req {
    height: 100%;
    width: 0%;
    margin-left: 20px;
  }
  


  .ant-switch-handle::before {
    height: 25px !important;
    width: 25px !important;
    border-radius: 50% !important;
  }
  button.ant-switch {
    background: rgb(194, 243, 190);
    height: 26px;
    width: 125px;
    padding: 2px 8px 10px 12px !important;
    /* border-radius: 30%; */
  }
  .map {
    /* background-color:red; */
    height: 50vh;
    display: flex;
  }
  
}
