#statMsg{
    text-align: center;
    font-weight: bold;
    color:red;
    width: 50%;
    height: 50%;
    margin: 100px auto; 
    padding: 10px;
    position: absolute;
  
  }

#BarArea{
  font-family: Arial, Helvetica, sans-serif;
}  

#Bar{
  font-family: Arial, Helvetica, sans-serif;
}  

 #barT{
  text-align: center;
 } 